<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="add-team-container">
    <div class="add-team-button">
        <a class="button" (click)="toggleContent()">Add Team</a>
    </div>

    <div class="team-table" >
        <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>SNo</th>
                <th>Team Name</th>
                <th>Total Members</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let team of teams; index as i" class="hoverable-row">
                  <td>{{ i + 1 }}</td>
                  <td>{{ team.teamName }}</td>
                  <td>{{ team.totalMember }}</td>
                  <td>{{ team.startDate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{ team.endDate | date: 'dd/MM/yyyy' }}</td>

                  <div class="view-buttons">
                    <button class="button" title="Edit" (click)=" toggleUpdateContent(team)" style="margin-right: 30px; margin-top: 1px;">
                      <div class="icon">
                        <i class="bi bi-pencil-square"></i>
                      </div>
                    </button>
                    <button class="button is-danger" title="Delete" (click)="onDeleteListClick(team._id)" style="margin-top: 1px;">
                        <div class="icon">
                          <i class="bi bi-trash-fill"></i>
                        </div>
                      </button>
                </div>
                </tr>
              </tbody>
        </table>
    </div>

    <div class="add-team" *ngIf="isContentVisible">
      <form (ngSubmit)="saveTeam()">
        <div class="row ">
            <label>Team Name:</label>
            <input type="text" placeholder="Enter the team name" [(ngModel)]="team.teamName" name="teamName">
          </div>

          <div class="row ">
            <label>Total Members:</label>
            <input type="number" [(ngModel)]="team.totalMember" name="totalMember">
          </div>

          <div class="row">
            <label>Start Date:</label>
            <input type="date" [(ngModel)]="team.startDate" name="startDate">
          </div>
          <div class="row">
            <label>End Date:</label>
            <input type="date" [(ngModel)]="team.endDate" name="endDate">
          </div>

          <div class="button-row">
            <button class="button" type="submit">Save Data</button>
          </div>
      </form>
      </div>

       <!--  Update team-->
       <div class="update-team" *ngIf="selectedteamId">
        <div class="row">
          <label>Team Name:</label>
          <input class="input" type="text" [(ngModel)]="selectedteamId.teamName" name="teamName">
        </div>
        <div class="row">
          <label>Total Members:</label>
          <input class="input" type="text" [(ngModel)]="selectedteamId.totalMember" name="totalMember">
        </div>

        <div class="row">
          <label>Start Date:</label>
          <input type="date" [(ngModel)]="selectedteamId.startDate" name="startDate">
        </div>
        <div class="row">
          <label>End Date:</label>
          <input type="date" [(ngModel)]="selectedteamId.endDate" name="endDate">
        </div>
        <div class="button-row">
          <button class="button" type="submit" (click)="updateTeam()">Update</button>
          <button class="button is-danger" type="button" (click)="cancelUpdate()">Cancel</button>
        </div>
     </div>

</div>

