<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="add-task-container">
    <div class="add-task-button">
        <a class="button" (click)="toggleContent()">Add Task</a>
    </div>

    <div class="task-table" >
        <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>SNo</th>
                <th>Task Name</th>
                <th>Project Name</th>
                <th>Team Name</th>
                <th>Start Date</th>
                <th>End Date</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks; index as i" class="hoverable-row">
                  <td>{{ i + 1 }}</td>
                  <td>{{ task.taskName }}</td>
                  <td>{{ task.projectName }}</td>
                  <td>{{ task.teamName }}</td>
                  <td>{{ task.startDate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{ task.endDate | date: 'dd/MM/yyyy' }}</td>
                  <div class="view-buttons">
                    <button class="button" title="Edit" (click)=" toggleUpdateContent(task)" style="margin-right: 30px; margin-top: 1px;">
                      <div class="icon">
                        <i class="bi bi-pencil-square"></i>
                      </div>
                    </button>
                    <button class="button is-danger" title="Delete" (click)="onDeleteListClick(task._id)" style="margin-top: 1px;">
                        <div class="icon">
                          <i class="bi bi-trash-fill"></i>
                        </div>
                      </button>
                </div>
                </tr>
              </tbody>
        </table>
    </div>

    <div class="add-task" *ngIf="isContentVisible">
      <form (ngSubmit)="saveTask()">
        <div class="row ">
            <label>Task Name:</label>
            <input placeholder="Enter the task name" [(ngModel)]="task.taskName" name="taskName">
          </div>
        <div class="row ">
            <label>Project Name:</label>
            <select [(ngModel)]="task.projectName" name="projectName">
              <option *ngFor="let project of projects">{{ project }}</option>
              </select>
          </div>
          <div class="row" style="right: 40;">
            <label>Team Name:</label>
            <select [(ngModel)]="task.teamName" name="teamName">
              <option *ngFor="let team of teams">{{ team }}</option>
            </select>
          </div>
          <div class="row">
            <label>Start Date:</label>
            <input type="date" [(ngModel)]="task.startDate" name="startDate">
          </div>
          <div class="row">
            <label>End Date:</label>
            <input type="date" [(ngModel)]="task.endDate" name="endDate">
          </div>

          <div class="button-row">
            <button class="button" type="submit">Save Data</button>
          </div>
       </form>
      </div>

      <!--  Update task-->
      <div class="update-task" *ngIf="selectedtaskId">
        <div class="row">
          <label>Task Name:</label>
          <input class="input" type="text" [(ngModel)]="selectedtaskId.taskName" name="taskName">
        </div>
        <div class="row">
          <label>Project Name:</label>
          <select [(ngModel)]="selectedtaskId.projectName" name="projectName">
            <option *ngFor="let project of projects">{{ project }}</option>
          </select>
        </div>
        <div class="row">
          <label>Select Team:</label>
          <select [(ngModel)]="selectedtaskId.teamName" name="teamName">
            <option *ngFor="let team of teams">{{ team }}</option>
          </select>
        </div>
        <div class="row">
          <label>Start Date:</label>
          <input type="date" [(ngModel)]="selectedtaskId.startDate" name="startDate">
        </div>
        <div class="row">
          <label>End Date:</label>
          <input type="date" [(ngModel)]="selectedtaskId.endDate" name="endDate">
        </div>
        
        <div class="button-row">
          <button class="button" type="submit" (click)="updateTask()">Update</button>
          <button class="button is-danger" type="button" (click)="cancelUpdate()">Cancel</button>
        </div>
     </div>

</div>
