
<div class="centered-content">
    <div class="home-container">
      <div class="sidebar">
        <div class="top-bar">
          <h1 class="title"></h1>
        </div>
        <div class="list-menu">
          <a class="list-menu-item" [class.active]="selectedComponent === 'dashboard'" (click)="showComponent('dashboard')" [class.is-active]="activeTab === 'dashboard'" (click)="activeTab = 'dashboard'">
            <p>Dashboard</p>
          </a>
          <a class="list-menu-item" [class.active]="selectedComponent === 'add-project'" (click)="showComponent('add-project')" [class.is-active]="activeTab === 'add-project'" (click)="activeTab = 'add-project'">
            <p>Add Project</p>
          </a>
          <a class="list-menu-item" [class.active]="selectedComponent === 'add-team'" (click)="showComponent('add-team')" [class.is-active]="activeTab === 'add-team'" (click)="activeTab = 'add-team'">
            <p>Add Team</p>
          </a>
          <a class="list-menu-item" [class.active]="selectedComponent === 'add-task'" (click)="showComponent('add-task')" [class.is-active]="activeTab === 'add-task'" (click)="activeTab = 'add-task'">
            <p>Add Task</p>
          </a>
          <a class="list-menu-item" [class.active]="selectedComponent === 'add-team-member'" (click)="showComponent('add-team-member')" [class.is-active]="activeTab === 'add-team-member'" (click)="activeTab = 'add-team-member'">
            <p>Add Team Member</p>
          </a>
        </div>
      </div>
      <div class="main-container">
        <div *ngIf="selectedComponent === 'dashboard'" id="dashboard" class="component">
            <div class="buttontop">
                <a class="button" (click)="showTotalProjectPopup()">Total Project</a>
                <a class="button" (click)="showTotalTaskPopup()">Total Task</a>
                <a class="button" (click)="showTotalTeamPopup()">Total Team</a>
                <a class="button" (click)="showProductivityPopup()">Productivity</a>
            </div>

            <div class="buttonbottom">
                <a class="button" (click)="showBarChartPopup()">Bar Chart <br> Team details</a>
                <a class="button" (click)="showPieChartPopup()">Pie Chart <br> Project Detail</a>
            </div>
        </div>
  
        <div *ngIf="selectedComponent === 'add-project'" id="add-project" class="component">
          <app-add-project></app-add-project>
        </div>
  
        <div *ngIf="selectedComponent === 'add-team'" id="add-team" class="component">
          <app-add-team></app-add-team>
        </div>
  
        <div *ngIf="selectedComponent === 'add-task'" id="add-task" class="component">
          <app-add-task></app-add-task>
        </div>
  
        <div *ngIf="selectedComponent === 'add-team-member'" id="add-team-member" class="component">
          <app-add-teammember></app-add-teammember>
        </div>


        <!--popup windows for all buttons-->

        <div class="popup-container" *ngIf="isTotalProjectVisible">
          <div class="popup-content">
            <h1><b>Total number of Projects</b></h1>
            <h2>{{ totalProjects }}</h2>
            <button class="close-button" (click)="closePopup()">Close</button>
          </div>
        </div>
    
        <div class="popup-container" *ngIf="isTotalTaskVisible">
          <div class="popup-content">
            <h1><b>Total number of Tasks</b></h1>
            <h2>{{ totalTasks }}</h2>
            <button class="close-button" (click)="closePopup()">Close</button>
          </div>
        </div>
    
        <div class="popup-container" *ngIf="isTotalTeamVisible">
          <div class="popup-content">
            <h1><b>Total number of Teams</b></h1>
            <h2>{{ totalTeams }}</h2>
            <button class="close-button" (click)="closePopup()">Close</button>
          </div>
        </div>

        <div class="popup-container" *ngIf="isProductivityVisible">
          <div class="popup-content">
            <h2>Productivity Popup</h2>
            <p>This is the content of the Productivity popup.</p>
            <button class="close-button" (click)="closePopup()">Close</button>
          </div>
        </div>

        <div class="popup-container" *ngIf="isBarChartVisible">
          <div class="popup-content">
            <h2>Bar Chart Popup</h2>
            <p>This is the content of the Bar Chart popup.</p>
            <button class="close-button" (click)="closePopup()">Close</button>
          </div>
    </div>

    <div class="popup-container" *ngIf="isPieChartVisible">
      <div class="popup-content">
        <h2>Pie Chart Popup</h2>
        <p>This is the content of the Pie Chart popup.</p>
        <button class="close-button" (click)="closePopup()">Close</button>
      </div>
    </div>
      </div>

    </div>
  </div>
  